@use "../base/mixins" as *;
@use "../base/variables" as *;


.not-found {
    padding: 16px;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    width: 100%;
    @include responsive-grid(repeat(2, 1fr), $spacing-large, $spacing-medium);

    .not-found__content {
        text-align: center;
        display: block;

        .not-found__title {
            margin-bottom: $spacing-medium;
            @include responsive-font(5rem, 3.5rem);
        }

        .not-found__message {
            margin-bottom: $spacing-small;
            @include responsive-font(1.25rem, 1rem);
        }

        .not-found__help {
            @include responsive-font(1.15rem, 1rem);
        }

        .not-found__actions {
            @include responsive-grid(repeat(2, 1fr), $spacing-medium, $spacing-medium, $breakpoint-mobile);
        }
    }

    .not-found__animation {
        min-width: 500px;
        height: 500px;
    }
}


@media (max-width: $breakpoint-tablet) {
    .not-found .not-found__animation {
        min-width: 300px;
        height: 500px;
    }
}