@use "../base/variables" as *;


main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: $spacing-medium;
    padding: 16px;
    min-width: 100%;
    height: 100%;

    @media (max-width: $breakpoint-desktop) {
        grid-template-columns: 1fr;
    }
}