#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color .3s, color .3s;
}


.light {
    background-color: #f7f7f7;
    color: #000000;
}


.dark {
    background-color: #1e1e1e;
    color: #ffffff;
}


.container {
    padding: 16px;
    border: 1px solid transparent;
    border-radius: 8px;
}


.light .container {
    border-color: #dddddd;
}


.dark .container {
    border-color: #333333;
}