/* Light Theme Colors */
$light-theme: (
    primary-color: #F59115,
    secondary-color: #FFC107,
    background-color: #FFFFFF,
    surface-color: #efefef,
    secondary-surface-color: #f8f8f8,
    shadow-secondary-surface-color: #b6b6b6,
    text-primary-color: #212529,
    text-secondary-color: #495057,
    border-color: #E9ECEF,
    hover-color: #FFAA42,
    active-color: #D87D0D,
);


/* Dark Theme Colors */
$dark-theme: (
    primary-color: #F59115,
    secondary-color: #FFC107,
    background-color: #121212,
    surface-color: #1E1E1E,
    secondary-surface-color: #272727,
    shadow-secondary-surface-color: #101010,
    text-primary-color: #E9ECEF,
    text-secondary-color: #ADB5BD,
    border-color: #495057,
    hover-color: #FFAA42,
    active-color: #D87D0D,
);


/* Typography */
$font-family-primary: Poppins,
    Inter,
    system-ui,
    Avenir,
    Helvetica,
    Arial,
    sans-serif;
$font-size-base: 16px;
$font-size-heading: 24px;
$line-height: 1.5;
$font-weight: 400;


/* Spacing */
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;


/* Breakpoints */
$breakpoint-mobile: 600px;
$breakpoint-tablet: 900px;
$breakpoint-desktop: 1200px;