@use './layout' as *;
@use './mixins' as *;
@use './variables' as *;
@use './components/button' as *;
@use './components/sidenav' as *;


:root {
    font-family: $font-family-primary;
    line-height: $line-height;
    font-weight: $font-weight;

    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;

    margin: 0;
    min-width: 320px;
    width: 100%;
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-primary-color);
    place-self: center;

    transition: background-color .3s, color .3s;
}


:root[data-theme='light'] {
    @include theme-variables($light-theme);
}

:root[data-theme='dark'] {
    @include theme-variables($dark-theme);
}


a {
    font-weight: 500;
    text-decoration: inherit;
    color: var(--primary-color);

    &:hover {
        text-decoration: underline;
    }
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}