@use './base/mixins' as *;
@use './base/typography' as *;
@use './base/variables' as *;
@use './components/button' as *;
@use './components/floating-menu' as *;
@use './components/navbar' as *;
@use './components/not-found' as *;
@use './layouts/dynamic-content' as *;
@use './layouts/main' as *;
@use './layouts/sidenav' as *;


:root {
    font-family: $font-family-primary;
    line-height: $line-height;
    font-weight: $font-weight;

    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;

    margin: 0;
    min-width: 320px;
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-primary-color);
    place-self: center;

    transition: background-color .3s, color .3s;
}


:root[data-theme='light'] {
    @include theme-variables($light-theme);
}

:root[data-theme='dark'] {
    @include theme-variables($dark-theme);
}